@font-face {
    font-family: "GothicB";
    src: url("COPRGTB.ttf");
}
@font-face {
    font-family: "Gothic";
    src: url("COPRGTL.ttf");
}
@font-face {
    font-family: "myTahoma";
    src: url("tahoma.ttf");
}